<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            @Html.ActionLink("Quản Lý Khách San", "Index", "Login")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Đặt Phòng", "DatPhong", "DatPhong")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Thanh Toán", "ThanhToan", "ThanhToan")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Khách Hàng", "KhachHang", "KhachHang")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Nhân Viên", "NhanVien", "NhanVien")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Dịch Vụ", "Index", "DichVu")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Phòng", "Phong", "Phong")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Loại Phòng", "Index", "LoaiPhong")
        </li>
        <li>
            @Html.ActionLink("Quản Lý Tiện Nghi", "TienNghi", "TienNghi")
        </li>
        <li>
            @Html.ActionLink("Quản Lý DS Tiện Nghi", "DSTienNghi", "DSTienNghi")
        </li>
        <li>
            @Html.ActionLink("Thống Kê Doanh Thu", "ThongKe", "ThongKe")
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
    </ul>
</div>
